@import 'node_modules/angular2-toaster/toaster';

header {
    height: 90px;
    background-color: mediumblue;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 4px 2px #333333;
    font-weight: bold;
    box-sizing: border-box;

    img {
        width: 70px;
        float: left;
    }

    span {
        display: block;
        margin-top: 13px;
    }

    div.buttons {
        float: right;
        font-size: 0.5em;
        font-weight: normal;
        text-shadow: none;
        position: relative;
        margin-top: -50px;

        a {
            cursor: pointer;
        }
    }
}