$levels: (#000000, #ECF8E0, #FFDAD9, #FF6D69, #CC5754, #AC1D1E);

$images: '/assets/censored/';

$break-small: 340px;
$break-large: 1200px;

div.background {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 100;

  &.hidden {
    display: none;
  }
}

