$break-small: 600px;
$break-large: 1600px;

body {
	min-width: 300px;
}

.cover {
	width: 2em;
	height: 2em;
	margin-right: 1em;
}

.hidden {
	display: none;
}

.text-center {
    text-align: center;
}

.intro {
	height: 267px;
	padding: 1em 3em;
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-position: right top;
	text-align: center;
	color: white;

	span {
		display: block;
		font-size: 1.5em;
		width: 90%;
		padding: 1em;

		@media screen and (max-width: $break-small - 1) {
		    font-size: 1em;
		    font-weight: bold;
		}
	}
}

.summary {

	padding: 1em 3em;

	.summary-text {
		float: left;
		width: 75%;
		margin-right: 3%;
		text-align: justify;

		@media screen and (max-width: $break-small - 1) {
			width: 100%;
		}
	}

	.summary-login {

		margin-top: 1em;

		@media screen and (max-width: $break-small - 1) {
			float: right;
		}

	}
}

.loading {
	margin-top: 1em;
}

.centered {
	text-align: center;
}
