$levels: (#000000, #FFFFFF, #FFDAD9, #FF6D69, #CC5754, #AC1D1E);

.oka-wrapper {
	min-width: 320px;
	background: rgba(0,0,0,0.8);
}

.players-panel > div {
	padding: 0 1em;
	margin: 0 1em;
	border-radius: 10px;
	background: #fff;
	background: linear-gradient(#fff, #999);
}

.players-container {
	width: 100%;
	padding: 1em 0;
}

/*Fade all the DIV when user hovers on any div*/
.players-container.turn player-info {
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
  transition: opacity .5s ease-in-out;
}

/*Fade out the particular DIV when user hover on that DIV*/
.players-container .player-info.turn{
  box-shadow: 3px 3px 15px #666;
  border-color: tomato;
  background: tomato;
  color: #fff;
  cursor: pointer;
  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.player-info {
	background-color: white;
	padding: 5%;
	width: 90%;
	float: left;

	&.turn {
		opacity: 1;
	}

	.player-gender {
		float: left;
		height: 36px;
		width: 28px;
	}

	.player-names {
		float: left;
		margin-left: 1em;

		.player-name {
			color: black;
			font-weight: bold;
			float: left;
			width: 100%;
		}

		.player-alias {
			color: gray;
			float: left;
			width: 100%;
		}
	}

	.clothes {
		float: right;

		.player-clothes {
			width: 2em;

			& + span {
			    font-size: 1.5em;
	    		font-family: serif;
	    		color: red;
	    		vertical-align: top;
			}
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				float: right;
				width: 3em;
				height: 2em;
				margin-left: 0.3em;
				background-repeat: no-repeat;
				background-size: cover;
				list-style: none;

				&.gender-male {
					background-image: url('../images/male-clothes.png');
				}
				&.gender-female {
					background-image: url('../images/female-clothes.png');
				}
			}
		}

		.nude {
			font-size: 1.5em;
	   		font-family: serif;
	   		color: red;
		}

		.animate-repeat {
			&.ng-move, &.ng-enter, &.ng-leave {
		  		transition: all linear 0.5s;
			}
			&.ng-leave.ng-leave-active,
			&.ng-move, &.ng-enter {
		  		opacity:0;
			}
			&.ng-leave,
			&.ng-move.ng-move-active,
			&.ng-enter.ng-enter-active {
		  		opacity:1;
			}
		}
	}
}

.dice-wrapper {
	padding: 0;

	& > div {
		margin-top: 1.5em;
	}
}

.board-panel {
	overflow: hidden;
}

.board {
	float: left;
	position: relative;
	background-color: #333333;
}

.cell-wrapper {
	position: absolute;
	z-index: 20;
}

.cell {
	padding: 2px;
	height: 100%;
	background-color: #333333;

	@for $i from 1 through length($levels) {
	    &.level-#{$i - 1} .cell-inner {
	        background-color: rgba(nth($levels, $i), 1);
	    }
	}
}

span.number {
	position: absolute;
	background-color: brown;
	border-radius: 100%;
	padding: 0.2em 0.1em 0.1em 0.1em;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	border: 1px solid wheat;
	color: wheat;

	&.dialog {
		padding: 0;
		display: inline-block;
		position: static;
	}
}

.cell-inner {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	span.number {
		bottom: 0em;
		right: 0.6em;
	}
}

.last-cell {
	float: left;
	background-image: url('../images/winner.png');
	position: absolute;
	z-index: 10;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

canvas {

	@for $i from 1 through length($levels) {
	    &.level-#{$i} {
	        background-color: rgba(nth($levels, $i), 1);
	    }
	}

	& + span.rotation-0, & + span.rotation-4 {
		bottom: 0.5em;
		right: 3em;
	}

	& + span.rotation-1, & + span.rotation-5 {
		bottom: 0.5em;
		right: 0.6em;
	}

	& + span.rotation-2 {
		bottom: 3em;
		right: 0.5em;
	}

	& + span.rotation-3 {
		bottom: 2.8em;
		right: 5.8em;
	}
}

.player {
	background-repeat: no-repeat;
	position: absolute;
	float: left;
	z-index: 30;

	&.slow {
		transition: all 0.7s ease-out;
	}
	&.medium {
		transition: all 0.5s ease-out;	
	}
	&.fast {
		transition: all 0.3s ease-out;	
	}
}

div.gender-MALE {
	background-image: url('../images/male-shadow.png');
	width: 2em;
	height: 2.5em;
	background-size: cover;
}

div.gender-FEMALE {
	background-image: url('../images/female-shadow.png');
	height: 2.5em;
	width: 1.5em;
	background-size: cover;
}
