@import '../common';

.dialog {
  z-index: 200;
  transition: all 0.5s ease-out;
  border: 1px solid #ccc;
  background-color: white;
  overflow: hidden;
  position: fixed;

  &.show {
    min-height: 400px;
    min-width: 300px;
  }
}

h2 {
  margin: 0;
  padding: 15px;
  background-color: mediumblue;
  border: solid white 2px;
  color: white;
  box-sizing: border-box;
  height: 15%;
}

.dialog-content {
  margin: 0;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  height: 85%;
}

.dialog-buttons {
  border-top: 2px solid gray;
  padding: 20px;
}

h3 {
  margin: 0;
  border-bottom: 2px solid gray;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 13px;
  text-shadow: 2px 3px 3px #666666;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}