@import "../../../common";

.cell-wrapper {
  position: absolute;
  z-index: 20;
}

.cell {
  padding: 2px;
  height: 100%;
  background-color: #333333;

  @for $i from 1 through length($levels) {
    &.level-#{$i - 1} .cell-inner {
      background-color: rgba(nth($levels, $i), 1);
    }
    &.level-#{$i - 1}.oka .cell-inner {
      background-color: rgba(nth($levels, 1), 1);
    }
  }
}

span.number {
  position: absolute;
  background-color: white;
  border-radius: 100%;
  padding: 0.2em 0.1em 0.1em 0.1em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border: 1px solid black;
  color: black;
  font-weight: bold;

  &.dialog {
    padding: 0;
    display: inline-block;
    position: static;
  }
}

.cell-inner {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  span.number {
    bottom: 0em;
    right: 0.6em;
  }
}
