<div *ngIf="user">
  <h1>Welcome {{user.name}}!!</h1>
  <p>Last login: {{user.lastAccess}}</p>
  <p>Registration date: {{user.registerDate}}</p>
  <div class="last-games">
    <h3>Last played games:</h3>
    <ul>
      <li *ngFor="let lastGame of lastGames">
        <img [src]="lastGame.image"/>
        <span class="game-name">{{lastGame.name}}</span>
        <span class="game-date">{{lastGame.date}}</span>
        <span class="game-winner">{{lastGame.winner}}</span>
      </li>
    </ul>
  </div>
  <div class="new-game">
    <h3>Start new game</h3>
    <ul>
      <li *ngFor="let game of avaliableGames">
        <img [src]="game.image"/>
        <span class="game-name">{{game.name}}</span>
      </li>
    </ul>
  </div>
</div>