@import '../../../common';

.players-panel > div {
  padding: 0 1em;
  margin: 0 1em;
  border-radius: 10px;
  background: #fff;
  background: linear-gradient(#fff, #999);
}

.players-container {
  float: left;
  width: 50%;
  padding: 1em 0;
}

.player-info-wrapper {
  width: 100%;
  float: left;
  display: block;
}
.board-panel {
  overflow: hidden;
}

.board {
  width: 50%;
  min-width: 320px;
  float: left;
  position: relative;
  background-color: #333333;
  border-radius: 5px;
}

.last-cell {
  float: left;
  background-image: url($images + '/winner.png');
  position: absolute;
  z-index: 10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}
