  <h2>OKASutra</h2>
  <p>El clásico juego de la oca adaptado a las relaciones de pareja.</p>
  <div class="loading" *ngIf="status === 'loading'">
    Loading game...
  </div>
  <div *ngIf="status === 'errorLoading'">
    There was an error loading this game. Please, try again in a few minutes.
  </div>
  <app-dice [show]="status === 'rolling'"
            [playerName]="playerTurnName"
            (onRolled)="onRolled($event)"></app-dice>
  <div *ngIf="!loading && !errorLoading" class="oka-wrapper">
    <div class="players-container">
      <div *ngFor="let player of players">
        <app-player-info class="player-info" [player]="player"
                        [offsetX]="offsetX"
                        [offsetY]="offsetY"
                        [playerX]="player.coords.x"
                        [playerY]="player.coords.y"
                        [speed]="'fast'">
        </app-player-info>
      </div>
    </div>
    <div id="board" class="board" (window:resize)="onResize($event)"
                      [style.width]="board.parameters['width'] + 'px'"
                      [style.height]="board.parameters['width'] + 'px'"
                      [style.font-size]="board.parameters['fontSize'] + 'em'"
                      [style.left]="board.parameters['left'] + 'px'">
      <ng-template ngFor let-cell [ngForOf]="board.cells">
        <app-board-cell *ngIf="!cell.corner" [cell]="cell" (onCompleted)="changeTurn()"></app-board-cell>
        <app-board-corner-cell *ngIf="cell.corner" [cell]="cell" (onCompleted)="changeTurn()"></app-board-corner-cell>
      </ng-template>
      <div class="last-cell"
           [style.left]="board.lastCell.left + 'px'"
           [style.top]="board.lastCell.top + 'px'"
           [style.width]="board.lastCell.width + 'px'"
           [style.height]="board.lastCell.height + 'px'"></div>

    </div>
    <app-cell-detail [offsetX]="offsetX" [offsetY]="offsetY"
                     [cell]="currentCellDetail" [nitems]="currentNItems"
                     (done)="actionCompleted()"></app-cell-detail>
    <app-winner [winner]="winner" (onClose)="ngOnInit()"></app-winner>
  </div>
