<div *ngIf="show">
  <div class="background"></div>
  <div class="dialog"
        [style.left]="left"
        [style.top]="top"
        [style.width]="width + 'px'"
        [style.height]="height + 'px'"
        [style.margin-top]="(-(height / 2)) + 'px'"
        [style.margin-left]="(-(width / 2)) + 'px'">
    <h2>Cell number {{cell.position}}</h2>

    <div class="dialog-content">
      <h3>{{title}}</h3>
      <p>
        {{description}}
      </p>

      <img alt="Cell image" [src]="getImageUrl()">

      <div class="dialog-buttons">
          <button (click)="finished()">
            Completed
          </button>
      </div>
    </div>
  </div>
</div>
