<!--The content below is only a placeholder and can be replaced.-->
<header>
  <img alt="OKAsutra Logo" src="{{imagesPath}}/cover.png" (click)="goIndex()">
  <span>OKAsutra: Juegos de pareja</span>
  <div class="buttons">
    <div *ngIf="loggedIn">
      Hi {{username}}!
      <a (click)="doLogout()">Logout</a>
    </div>
    <a *ngIf="!loggedIn" (click)="doLogin()">Login</a>
  </div>
</header>
<toaster-container [toasterconfig]="config"></toaster-container>
<app-login></app-login>
<app-register></app-register>
<router-outlet></router-outlet>
