<div className="dice {{spinClaz}} {{classStatus}}">
  <div class="side front">
      <span [style.backgroundImage]="urls[0]">{{texts[0]}}</span>
  </div>
  <div class="side front inner"></div>
  <div class="side top">
      <span [style.backgroundImage]="urls[1]">{{texts[1]}}</span>
  </div>
  <div class="side top inner"></div>
  <div class="side right">
      <span [style.backgroundImage]="urls[2]">{{texts[2]}}</span>
  </div>
  <div class="side right inner"></div>
  <div class="side left">
      <span [style.backgroundImage]="urls[3]">{{texts[3]}}</span>
  </div>
  <div class="side left inner"></div>
  <div class="side bottom">
      <span [style.backgroundImage]="urls[4]">{{texts[4]}}</span>
  </div>
  <div class="side bottom inner"></div>
  <div class="side back">
      <span [style.backgroundImage]="urls[5]">{{texts[5]}}</span>
  </div>
  <div class="side back inner"></div>
  <div class="side cover x"></div>
  <div class="side cover y"></div>
  <div class="side cover z"></div>
</div>