<md-dialog aria-label="Cell number {{cell.position}}">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Cell number <span class="number dialog">{{position}}</span></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="done()">
          <md-icon md-svg-src="public/images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{cell.title}}</h2>
        <p>
        	{{cell.description}}
        </p>

        <img style="margin: auto; max-width: 100%;" alt="Cell image" src="/public/images/cells/{{cell.cellId}}.png">
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="done()">
        Completed
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>