<div class="text-center md-padding">Home Page</div>

<md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Players</span>
        </h2>
      </div>
    </md-toolbar>

    <div layout="row" layout-xs="column" class="payers">
    	<div ng-repeat="player in players" flex>
    		Nombre: {{player.name}}<br/>
    		Prendas: {{player.nitems}}<br/>
    		<div class="player gender-{{player.gender}}"></div><br/><br/>
    	</div>
	</div>
</md-content>
<md-content>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Board</span>
        </h2>
      </div>
    </md-toolbar>

	<div class="board" id="board" style="width: {{board.width}}px; height: {{board.width}}px; font-size: {{board.fontSize}}em">
		<board-cell ng-repeat="cell in board.cells" cell="cell"></board-cell>
		<board-player player="players[0]" speed="movement.speed"></board-player>
		<board-player player="players[1]" speed="movement.speed"></board-player>
	</div>
</md-content>
<input name="cells2Advance" ng-model="offset" type="number"/>
<button ng-click="movement.advance()">Advance</button>
