<md-content class="md-padding">
	<div layout="row" layout-xs="column">
		<md-content flex class="players-panel">
		    <md-toolbar class="md-hue-2">
		      <div class="md-toolbar-tools">
		        <h2>
		          <span>Players</span>
		        </h2>
		      </div>
		    </md-toolbar>

		    <div layout="row" layout-xs="column">
		    	<player-info class="player-info" ng-repeat="player in players" player="player" advance="advance(n)"></player-info>
			</div>
		</md-content>
		<md-content flex class="board-panel">
		    <md-toolbar class="md-hue-2">
		      <div class="md-toolbar-tools">
		        <h2>
		          <span>Board</span>
		        </h2>
		      </div>
		    </md-toolbar>

		    <div id="board">
				<div class="board" style="width: {{board.parameters.width}}px; height: {{board.parameters.width}}px; font-size: {{board.parameters.fontSize}}em; left: {{board.parameters.left}}px">
					<board-cell ng-repeat="cell in board.cells" cell="cell" completed="nextTurn()"></board-cell>
					<board-player ng-repeat="player in players" player="player" speed="movement.speed"></board-player>
				</div>
			</div>
		</md-content>
	</div>
	<span ng-click="movement.start()">Start</span>
</md-content>