<md-content class="md-padding">
	<h2>OKASutra</h2>
	<p>El clásico juego de la oca adaptado a las relaciones de pareja.</p>
	<md-divider></md-divider>
	<div class="loading" ng-show="loading">
		<md-progress-circular></md-progress-circular>
		Loading game...
	</div>
	<div ng-show="errorLoading">
		There was an error loading this game. Please, try again in a few minutes.
	</div>
	<div ng-show="!loading && !errorLoading" layout="row" layout-xs="column" layout-sm="column" class="oka-wrapper">
		<md-content flex class="players-panel">
	        <h4>
	          <span>Players</span>
	        </h4>

	        <div layout="column" layout-sm="row" layout-xs="row">
			    <div flex layout="column" class="players-container turn">
			    	<player-info class="player-info" ng-repeat="player in players" player="player" advance="advance(mov)"></player-info>
				</div>
				<div flex>
					<div class="dice-wrapper">
						<p class="centered">{{status.players[status.turn].name}}, your turn</p>
						<dice advance="advance(mov)" status="status"></dice>
					</div>
				</div>
			</div>
		</md-content>
		<md-content class="board-panel">
	        <h4>
	          <span>Board</span>
	        </h4>

		    <div id="board">
				<div class="board" style="width: {{board.parameters.width}}px; height: {{board.parameters.width}}px; font-size: {{board.parameters.fontSize}}em; left: {{board.parameters.left}}px">
					<board-cell ng-repeat="cell in board.cells" cell="cell" completed="nextTurn()"></board-cell>
					<div class="last-cell" style="left: {{board.lastCell.left}}px; top: {{board.lastCell.top}}px; width: {{board.lastCell.width}}px; height: {{board.lastCell.height}}px"></div>
					<board-player ng-repeat="player in players" player="player" speed="movement.speed"></board-player>
				</div>
			</div>
		</md-content>
	</div>
</md-content>