<div class="text-center md-padding">Home Page</div>
<div class="board">
	<div class="cell cell-ver" style="top: 500px; left: 2px">1</div>
	<div class="cell cell-ver" style="top: 500px; left: 58px;">1</div>
	<div class="cell cell-ver" style="top: 500px; left: 114px;">1</div>
	<div class="cell cell-ver" style="top: 500px; left: 170px;">1</div>
	<div class="cell cell-ver" style="top: 500px; left: 226px;" >1</div>
	<div class="cell cell-ver" style="top: 500px; left: 282px;">1</div>
	<div class="cell cell-ver" style="top: 500px; left: 338px;">1</div>
	<div class="cell cell-ver" style="top: 500px; left: 394px;">1</div>
	<div class="cell cell-ver" style="top: 500px; left: 450px;">1</div>
	<div class="cell cell-ver" style="top: 500px; left: 506px;">1</div>
	<div class="cell triangle-bottomleft" style="top: 500px; left: 562px">1</div>
	<div class="triangle-topright" style="top: 450px; left: 562px">1</div>
</div>