<md-dialog aria-label="New game">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo juego</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/public/images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
        <md-tab label="Predefinida">
          <md-content class="md-padding">
            <md-subheader class="md-no-sticky">
              Selecciona una de entre las configuraciones predefinidas:
            </md-subheader>
            <md-radio-group ng-model="idConf">
              <md-list flex>
                <md-list-item class="md-3-line no-right" ng-repeat="conf in configurations">
                  <md-radio-button value="{{conf.id}}" class="md-primary">
                    <div class="md-list-item-text" layout="column">
                      <h3><strong>Nombre:</strong> {{conf.name}}</h3>
                      <h4><strong>Jugadores:</strong>
                          <span ng-repeat="player in conf.players">
                            {{player.name}} <span ng-show="!$last">/</span>
                          </span>
                      </h4>
                      <p>
                        Número de celdas: {{ conf.ncells }} /
                        Número de jugadores: {{conf.players.length}} /
                        Máximo valor del dado: {{ conf.dice }} /
                        Diferencia entre okas: {{conf.okaGap}}
                      </p>
                    </div>
                  </md-radio-button>                    
                <md-divider ></md-divider>
                </md-list-item>
              </md-list>
            </md-radio-group>
          </md-content>
        </md-tab>
        <md-tab label="Nueva configuración">
          <md-content class="md-padding">
            <form name="gameForm" novalidate>
              <md-subheader class="md-no-sticky">
                Introduce a continuación los datos de la nueva configuración
              </md-subheader>

              <div layout-gt-xs="row">

                <md-input-container class="md-block" flex-gt-xs>
                  <label>Número de casillas:</label>
                  <input name="cells" ng-model="conf.ncells" required type="number" step="1" min="30" max="90"/>

                  <div ng-messages="gameForm.cells.$error">
                    <div ng-message="required">Introduce el número de casillas.</div>
                    <div ng-message="number">Introduce un número válido.</div>
                  </div>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-xs>
                  <label>Números en el dado:</label>
                  <input name="dice" ng-model="conf.dice" required type="number" step="1" min="2" max="6"/>

                  <div class="hint">Cuántos lados tiene el dado</div>

                  <div ng-messages="gameForm.dice.$error">
                    <div ng-message="required">Introduce el número de lados del dado.</div>
                    <div ng-message="number">Introduce un número válido.</div>
                  </div>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-xs>
                  <label>Distancia entre ocas:</label>
                  <input name="okaGap" ng-model="conf.okaGap" required type="number" step="1" min="4" max="12"/>

                  <div ng-messages="gameForm.okaGap.$error">
                    <div ng-message="required">Introduce la distancia entre ocas.</div>
                    <div ng-message="number">Introduce un número válido.</div>
                  </div>
                </md-input-container>
              </div>

              <div layout-gt-xs="row" class="md-padding">

                <md-input-container class="md-block" flex-gt-xs ng-repeat-start="level in conf.levels track by $index">
                  <label>Nivel {{$index + 1}}:</label>
                  <input name="level-{{$index}}" ng-model="level" type="number" step="1" min="5" max="20"/>

                  <div ng-messages="gameForm.cells.$error">
                    <div ng-message="number">Introduce un número válido.</div>
                  </div>
                </md-input-container>
                <div flex="5" hide-xs hide-sm ng-repeat-end>
                  <!-- Spacer //-->
                </div>

                <div class="hint">
                  Número de casillas por nivel. Si dejas vacía alguna, el sistema lo calculará automáticamente.
                </div>
              </div>

              <div layout-gt-sm="row" class="md-padding">

                <div layout="column" ng-repeat="player in conf.players" class="md-block" flex-gt-sm>

                  <md-subheader class="md-no-sticky">
                    Jugador {{$index + 1}}
                  </md-subheader>

                  <md-input-container class="md-block">
                    <label>Nombre</label>
                    <input md-maxlength="30" required name="name-player-{{$index}}" ng-model="player.name" />

                    <div ng-messages="gameForm['name.player-' + $index].$error">
                      <div ng-message="required">El nombre es requerido.</div>
                    </div>
                  </md-input-container>

                  <md-input-container class="md-block">
                    <label>Alias</label>
                    <input md-maxlength="60" required name="alias-player-{{$index}}" ng-model="player.alias" />

                    <div ng-messages="gameForm['alias.player-' + $index].$error">
                      <div ng-message="required">El alias es requerido.</div>
                    </div>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Número de prendas de ropa:</label>
                    <input name="nitems-{{$index}}" ng-model="player.nitems" required type="number" step="1" min="0" max="10"/>

                    <div ng-messages="gameForm.okaGap.$error">
                      <div ng-message="required">Introduce el numero de prendas de ropa.</div>
                      <div ng-message="number">Introduce un número válido.</div>
                    </div>
                  </md-input-container>

                  <md-input-container class="md-block">
                    <md-radio-group ng-model="player.gender" layout="row">
                      <md-radio-button value="MALE" class="md-primary" flex>Hombre</md-radio-button>
                      <md-radio-button value="FEMALE" class="md-primary" flex>Mujer</md-radio-button>
                    </md-radio-group>
                  </md-input-container>
                </div>
              </div>

              <div layout-gt-sm="row">

                <md-input-container>
                  <md-switch ng-model="saveConfiguration">Guardar configuración</md-switch>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                  <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-sm ng-show="saveConfiguration">
                  <label>Nombre</label>
                  <input md-maxlength="30" name="name" ng-model="conf.name" />

                  <div ng-messages="gameForm.name.$error">
                    <div ng-message="required">El nombre es requerido.</div>
                  </div>
                </md-input-container>

              </div>

            </form>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()" >
        Cancelar
      </md-button>
      <span flex></span>
      <md-button ng-click="createFromConf()" style="margin-right:20px;"  ng-show="canSubmit()" ng-disabled="!canSubmit()" >
        Crear juego
      </md-button>
    </md-dialog-actions>
</md-dialog>