<md-content class="md-padding">
	<h2>Home</h2>
	<div class="loading" ng-show="loading">
		<md-progress-circular></md-progress-circular>
		Loading home...
	</div>
	<div ng-show="error">
		There was an error loading your home. Please, try again in a few minutes.
	</div>
	<div ng-hide="loading || error">
		<div layout="row" layout-xs="column">
			<md-card flex="50" flex-xs="100" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
				<md-card-title layout="row" layout-xs="column" layout-sm="column">
					<md-card-title-text>
						<span class="md-headline">Hello, {{user.name}}</span>
						<span class="md-subhead">Gender: {{user.gender}}</span>
						<span class="md-subhead">Last access: {{user.lastAccess | date : 'dd/MM/yyyy HH:mm:ss'}}</span>
						<span class="md-subhead">Registration date: {{user.registerDate}}</span>
						<span class="md-subhead">End subscription date: {{user.endSubscription}}</span>
					</md-card-title-text>
					<md-card-title-media>
						<div class="md-media-lg card-media">
							<img src="{{user | avatarImage}}"/>
							<input type = "file" file-model = "newAvatar" class="hide"/>
						</div>
					</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button>Change profile</md-button>
					<md-button ng-click = "uploadFile()">Change avatar</md-button>
				</md-card-actions>
			</md-card>
			<md-content flex="50" flex-xs="100" layout="column">
				<md-content>
					<md-list flex>
						<md-subheader class="md-no-sticky">Your favorite games</md-subheader>
						<md-list-item class="md-3-line" ng-repeat="rank in ranking" ng-click="null">
							<img ng-src="{{rank.image}}" class="md-avatar" alt="{{rank.name}}" />
							<div class="md-list-item-text" layout="column">
								<h3>{{ rank.name }}</h3>
								<h4>{{ rank.times }}</h4>
								<p>Play again</p>
							</div>
						</md-list-item>
					</md-list>
					<md-divider></md-divider>
					<md-list flex>
						<md-subheader class="md-no-sticky">Top rated games</md-subheader>
						<md-list-item class="md-3-line" ng-repeat="rank in ranking" ng-click="null">
							<img ng-src="{{rank.image}}" class="md-avatar" alt="{{rank.name}}" />
							<div class="md-list-item-text" layout="column">
								<h3>{{ rank.name }}</h3>
								<h4>{{ rank.times }}</h4>
								<p>Play again</p>
							</div>
						</md-list-item>
					</md-list>
				</md-content>
			</md-content>
		</div>
		<md-divider></md-divider>
		<md-content ng-show="pendingGames">
			<md-subheader class="md-no-sticky">
				Your pending games
			</md-subheader>
			<md-list layout="row" layout-xs="column" layout-sm="column" class="two-columns">
				<md-list-item class="md-2-line no-right" ng-repeat="game in games" ng-click="openBoard(game.id)" flex>
					<img ng-src="/public/images/level-{{game.currentLevel + 1}}.png" class="md-avatar" alt="Level-{{game.currentLevel + 1}}" hide-xs/>
					<div class="md-list-item-text" layout="column">
						<h3><strong>Id:</strong> <em>{{ game.id }}</em></h3>
						<h4><strong>Jugadores:</strong>
						    <span ng-repeat="player in game.status.players">
								<em>{{player.name}}</em> ({{player.position}}) <span ng-show="!$last">/</span>
							</span>
						</h4>
						<p>
							Número de celdas: <em>{{game.board.length}}</em> /
							Lados del dado: <em>{{game.dice}}</em>
						</p>
						<p>
							Fecha de creación: <em>{{game.creationDate.epochSecond * 1000 | date : 'dd/MM/yyyy HH:mm:ss'}}</em>
						</p>
						<p>
							Último acceso:  <em>{{game.lastUpdate.epochSecond * 1000 | date : 'dd/MM/yyyy HH:mm:ss'}}</em>
						</p>
					</div>
					<md-button class="md-secondary md-icon-button remove" ng-click="confirmRemoveGame($event, game.id)" style="height: 48px; width: 48px;">
						<md-icon md-svg-src="public/images/icons/remove.svg" aria-label="Close dialog" style="height: 48px; width: 48px;"></md-icon>
					</md-button>					
					<md-divider ></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
		<md-button class="md-primary md-raised" ng-click="showNewGameDialog($event)">
			New game
		</md-button>
	</div>
</md-content>