<md-content class="md-padding" ng-controller="usergamesController">
	<h2>OKASutra</h2>
	<p>El clásico juego de la oca adaptado a las relaciones de pareja.</p>
	<md-divider></md-divider>
	<div class="loading" ng-show="loading">
		<md-progress-circular></md-progress-circular>
		Loading game...
	</div>
	<div ng-show="error">
		There was an error loading this game. Please, try again in a few minutes.
	</div>
	<div ng-show="!loading && !error">
		<md-subheader class="md-no-sticky">
			List of games of user {{user}}
		</md-subheader>
		<md-list layout="row" layout-xs="column" layout-sm="column" class="two-columns">
			<md-list-item class="md-2-line no-right" ng-repeat="game in games" ng-click="openBoard(game.id)" flex>
				<img ng-src="/public/images/level-{{game.currentLevel + 1}}.png" class="md-avatar" alt="Level-{{game.currentLevel + 1}}" hide-xs/>
				<div class="md-list-item-text" layout="column">
					<h3><strong>Id:</strong> <em>{{ game.id }}</em></h3>
					<h4><strong>Jugadores:</strong>
					    <span ng-repeat="player in game.status.players">
							<em>{{player.name}}</em> ({{player.position}}) <span ng-show="!$last">/</span>
					</h4>
					<p>
						Número de celdas: <em>{{game.board.length}}</em> /
						Lados del dado: <em>{{game.dice}}</em>
					</p>
					<p>
						Fecha de creación: <em>{{game.creationDate.epochSecond * 1000 | date : 'dd/MM/yyyy HH:mm:ss'}}</em>
					</p>
					<p>
						Último acceso:  <em>{{game.lastUpdate.epochSecond * 1000 | date : 'dd/MM/yyyy HH:mm:ss'}}</em>
					</p>
				</div>
				<md-button class="md-secondary md-icon-button remove" ng-click="confirmRemoveGame($event, game.id)" style="height: 48px; width: 48px;">
					<md-icon md-svg-src="public/images/icons/remove.svg" aria-label="Close dialog" style="height: 48px; width: 48px;"></md-icon>
				</md-button>					
				<md-divider ></md-divider>
			</md-list-item>
		</md-list>
		<md-button class="md-primary md-raised" ng-click="showNewGameDialog($event)"">
			New game
		</md-button>
	</div>
</div>