<div class="login-wrapper">
  <div className="background {{show ? '' : 'hidden'}}"></div>
  <div class="dialog" [@loginWindow]="state">
    <h2>Login</h2>
    <div class="dialog-content">
      <p>
        <label>
          Username:
          <input type="text" name="username" [(ngModel)]="username"/>
        </label>
      </p>
      <p>
        <label>
          Password:
          <input type="password" name="password" [(ngModel)]="password"/>
        </label>
      </p>
    </div>
    <div class="dialog-buttons">
      <button (click)="cancelLogin()" class="secondary">Cancel</button>
      <button (click)="doLogin()">Accept</button>
    </div>
  </div>
</div>
