/* You can add global styles to this file, and also import other style files */

@import 'node_modules/angular2-toaster/toaster';

body, input{
  color: darkslategray;
}

div.background {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 100;
  visibility: visible;
  transition: visibility 0.2s, opacity 0.2s linear;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

button {
  color: white;
  border-radius: 6px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #0078e7;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;

  &.button-success {
      background: rgb(28, 184, 65); /* this is a green */
  }

  &.button-error {
      background: rgb(202, 60, 60); /* this is a maroon */
  }

  &.button-warning {
      background: rgb(223, 117, 20); /* this is an orange */
  }

  &.button-secondary {
      background: rgb(66, 184, 221); /* this is a light blue */
  }

  &:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
}


.dialog {
    z-index: 200;
    transition: all 0.5s ease-out;
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
    position: fixed;
  
  h2 {
    margin: 0;
    padding: 15px;
    background-color: mediumblue;
    border: solid white 2px;
    color: white;
    box-sizing: border-box;
  }
  
  .dialog-content {
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  .dialog-buttons {
    border-top: 2px solid gray;
    padding: 20px;
  }
  
  h3 {
    margin: 0;
    border-bottom: 2px solid gray;
  }
}