/*Fade all the DIV when user hovers on any div*/
.players-container.turn player-info {
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
  transition: opacity .5s ease-in-out;
}

/*Fade out the particular DIV when user hover on that DIV*/
.players-container .player-info.turn{
  box-shadow: 3px 3px 15px #666;
  border-color: tomato;
  background: tomato;
  color: #fff;
  cursor: pointer;
  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.player-info {
  background-color: white;
  padding: 5%;
  width: 90%;
  float: left;

  &.turn {
    opacity: 1;
  }

  .player-gender {
    float: left;
    height: 36px;
    width: 28px;
  }

  .player-names {
    float: left;
    margin-left: 1em;

    .player-name {
      color: black;
      font-weight: bold;
      float: left;
      width: 100%;
    }

    .player-alias {
      color: gray;
      float: left;
      width: 100%;
    }
  }

  .clothes {
    float: right;

    .player-clothes {
      width: 2em;

      & + span {
        font-size: 1.5em;
        font-family: serif;
        color: red;
        vertical-align: top;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        float: right;
        width: 3em;
        height: 2em;
        margin-left: 0.3em;
        background-repeat: no-repeat;
        background-size: cover;
        list-style: none;

        &.gender-male {
          background-image: url('/assets/normal/male-clothes.png');
        }
        &.gender-female {
          background-image: url('/assets/normal/female-clothes.png');
        }
      }
    }

    .nude {
      font-size: 1.5em;
      font-family: serif;
      color: red;
    }

    .animate-repeat {
      &.ng-move, &.ng-enter, &.ng-leave {
        transition: all linear 0.5s;
      }
      &.ng-leave.ng-leave-active,
      &.ng-move, &.ng-enter {
        opacity:0;
      }
      &.ng-leave,
      &.ng-move.ng-move-active,
      &.ng-enter.ng-enter-active {
        opacity:1;
      }
    }
  }
}

